
block scripts
  script 
      include ../static/index.js

block style 
  style 
      include ../static/menustyle.css
block content 
  section#topSection
        div#introLogo 
           img(src="../static/cheflogo.png", alt="error loading")
           div#introHeading 
             div.menuOne Enjoy our every meal made just for You
             div.menuTwo To get the meal fresh from the Kitchen   
             button#orderButton Order Now 

  section#recipeoneSection
     h1 Non-Veg  Recipes
     p Feeling all tired and hungry?  Wanna blast your tummy with protiens?Try our fresh meat cooked to satisfy your craving for chicken,mutton,beef,pork etc
     div#cards  
       div.mostsoldCard
        img(src="../static/blackchicken.jpg", alt="error loading")
        h3 Black Chicken Fry
       div.mostsoldCard
        img(src="../static/porkbelly.jpg", alt="error loading")
        h3 Roasted Pork Belly
       div.mostsoldCard
        img(src="../static/chickenbriyani.jpg", alt="error loading")
        h3 Black Chicken Briyani   
       div.mostsoldCard
        img(src="../static/chickennaan.jpg", alt="error loading")
        h3 Butter Chicken Naan
       div.mostsoldCard
        img(src="../static/chickenroll.jpeg", alt="error loading")
        h3 Non-veg Rolls    
       div.mostsoldCard
        img(src="../static/porkcurry.webp", alt="error loading")
        h3 Nagaland Style Pork Curry   
          
  section#recipetwoSection
     h1 Veg  Recipes
     p So feeling religious? We have got you all covered. Here's all the vegetarian dishes for spicy lover all the way to sweet and sour lover.Now you can dine with whole your family
     div#cardsTwo  
       div.vegCard
        img(src="../static/paneermasala.jpg", alt="error loading")
        h3  Punjabi Style Paneer Masala
       div.vegCard
        img(src="../static/pavbhaji.jpg", alt="error loading")
        h3 Spicy Pav Bhaji
       div.vegCard
        img(src="../static/gobimakhni.webp", alt="error loading")
        h3 Gobi Makhni   
       div.vegCard
        img(src="../static/malaikhofta.webp", alt="error loading")
        h3 Malai Kofta
       div.vegCard
        img(src="../static/alusamosa.jpg", alt="error loading")
        h3 Aloo Samosa    
       div.vegCard
        img(src="../static/cheeseball.jpg", alt="error loading")
        h3 Asian CheeseBall
        
  section#chefSection
     div#cardsThree  
        div.chefCard 
           h1 our Chef  
           img(src="../static/chef2.jpg", alt="")
           h3 Amar Laish
       
       
       
     
         

